/* LIMO */
div.limo-flex {
  display: flex;
  justify-content: center;
  margin: 35px 35px 0px 35px;
}

div.limo-box1 {
  width: 800px;
  max-width: 100%;
  margin-right: 60px;
  margin-top: 55px;
}

h1.limo-header {
  font-size: 50px; 
}

p.limo-info {
  text-align: justify;
}

div.limo-box2 {
  width: 800px;
  max-width: 100%;
}

figure.limo-img {
  width: 100%;
  max-width: 820px;
}

@media only screen and (max-width: 1419px) {
  div.limo-box1 {
    margin-top: 0px;
  }

  h1.limo-header {
margin-top: 0px; 
  }
}

/* TABLET */
@media only screen and (max-width: 1024px) {
  div.limo-flex {
    flex-flow: wrap;
  }

  h1.limo-header {
    text-align: center;
    font-size: 45px; 
  }

  div.limo-box1 {
    margin-right: 0px;
  }
}

/* MOBILE */
@media only screen and (max-width: 667px){
  div.limo-flex {
    display: block;
    justify-content: center;
    text-align: left;
  }

  h1.limo-header {
    text-align: center;
    font-size: 34px; 
  }

  p.limo-info {
    font-size: 13.5px;
  }
}