/* HUNTER 2.0 */
div.hunter2_flex {
    display: flex;
    justify-content: center;
    margin: 0px 35px 0px 35px;
  }


/* TABLET */
@media only screen and (max-width: 1200px) {
    div.hunter2_flex {
      flex-flow: wrap;
    }
  }

/* MOBILE */
@media (max-width: 667px){
    /* This makes the whole section mobile frinedly */
    div.hunter2_flex {
      display: block;
      justify-content: center;
      text-align: left;
      margin: 0px 0px 0px 0px;
    }
  
    p.hunter-description {
      font-size: 13.5px;
    }
  
    p.hunter-battery {
      font-size: 13.5px;
    }
  
    p.hunter-bms {
      font-size: 13.5px;
    }
  
    p.hunter-lightning {
      font-size: 13.5px;
    }
  
    p.title-text1 {
      font-size: 13.5px;
    }
  
    p.title-text2 {
      font-size: 13.5px;
    }
  
    p.title-text3 {
      font-size: 13.5px;
    }
  }